<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTI 1.3 launcher</title>
</head>

<body style="height: 100%; width: 100%">
    <h1>LTI 1.3 Parameters Form</h1>
    <form method="POST" action="YOUR_ENDPOINT_URL_HERE">
        <label for="issuer">Issuer:</label><br>
        <input type="text" id="issuer" name="issuer"><br>

        <label for="client_id">Client ID:</label><br>
        <input type="text" id="client_id" name="client_id"><br>

        <label for="login_hint">Login Hint:</label><br>
        <input type="text" id="login_hint" name="login_hint"><br>

        <label for="target_link_uri">Target Link URI:</label><br>
        <input type="text" id="target_link_uri" name="target_link_uri"><br>

        <!-- More parameters here as per your requirements -->

        <input type="submit" value="Submit">
    </form>


</body>
<script type="text/javascript">

</script>


</html>